.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .origin {
    display: flex;
    width: 40%;
    background: none;
    padding: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: #a14e26;
    font-size: 15pt;
    border: 1px solid #a14e26;
    border-radius: 10px;
  }
}