.container {
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  word-wrap: break-word;
  
  .content {
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }
}