.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .content {
    position: relative;
    flex: 1;
    height: 100%;
    margin-bottom: 55px;
  }
}